<div class="bg-light">
<h3 class="text-center pt-5 pb-5">特定商取引法に基づく表記</h3>
<table class="table p-4">
<tbody class="pb-5">
    <tr>
        <th>アプリ名</th>
        <td>hokudainote</td>
    </tr>
    <tr>
        <th>販売事業者名</th>
        <td>杉山堅志郎</td>
    </tr>
    <tr>
        <th>代表者名</th>
        <td>杉山堅志郎</td>
    </tr>
    <tr>
        <th>所在地</th>
        <td>〒001－0020<br>北海道札幌市北区北２０条西７丁目２－３３</td>
    </tr>
    <tr>
        <th>お問い合わせ</th>
        <td><%= link_to 'こちら' ,toppages_form_path	%>からお問い合わせください。<br>
            ※代表者電話番号はお客様からのご要望に基づき遅滞なく電子メールにて通知いたします。<br> 代表者電話番号が必要なお客様は上記フォームよりお申し出ください。
        </td>
    </tr>
    <tr>
        <th>販売価格</th>
        <td>購入手続きの際に画面に表示されます。<br>消費税は内税として表示しております。</td>
    </tr>
    <tr>
        <th>販売価格以外で<br>お客様に発生する金銭</th>
        <td>当サイトのページの閲覧、コンテンツ購入、ソフトウェアのダウンロード等に必要となるインターネット接続料金、通信料金は、お客様のご負担となります。</td>
    </tr>
    <tr>
        <th>お支払方法</th>
        <td>以下のお支払方法をご利用いただけます。<br>・各種クレジットカード</td>
    </tr>
    <tr>
        <th>商品購入方法</th>
        <td>
	    ノートの詳細ページから「購入」ボタンを押下し、各種お支払方法で決済していただきますと、マイページのノート管理より閲覧が可能になります。
        </td>
    </tr>
    <tr>
        <th>デジタルアイテム等の利用が可能となる時期</th>
        <td>
	    特別な定めを置いている場合を除き、お支払い手続き完了後直ちにご利用いただけます。
        </td>
    </tr>
    <tr>
        <th>動作環境</th>
        <td>
	    アプリケーションによって利用環境・対応機種が異なります。各アプリケーションのダウンロードの前に、必ず各アプリケーションの詳細ページで利用環境・対応機種をご確認ください。
        </td>
    </tr>
    <tr>
        <th>返品・キャンセル</th>
        <td>
        １.お客様のご都合による返品・キャンセル<br>
        商品の性質上、各アプリケーションご購入後の返金・返品はできかねます。<br>
        ２.アプリケーションの瑕疵に基づく返品（キャンセル）<br>
        アプリケーションに瑕疵が発見されたときは、瑕疵を修補したアプリケーションをアプリケーションのバージョンアップ又はその他適切な方法で提供いたします。<br>
        </td>
    </tr>
    <tr>
        <th>特別条件</th>
        <td>
        ・クーリングオフについて<br>
        特定商取引法に規定されているクーリングオフが適用されるサービスではありません。<br><br>
        </td>
    </tr> 
</tbody>
</table>
</div>