<h3 class="text-center p-4">お問い合わせ</h3>
<div class="p-5">
<i class="fa fa-envelope"></i> kenkahokan@eis.hokudai.ac.jp<br>
<i class="fab fa-twitter"></i> <a href="https://twitter.com/hokudainote">hokudainote</a>
</div>

<br><br><br><br><br><br>