<h3 class="text-center pt-5 pb-3">お問い合わせ</h3>
<div class="pl-5 pr-5">
お問い合わせは以下よりお願いいたします。<br><br>
<i class="fa fa-envelope"></i> kenkahokan@eis.hokudai.ac.jp<br>
<i class="fab fa-twitter"></i> <a href="https://twitter.com/hokudainote">hokudainote</a>
</div>

<br><br><br><br><br><br>