<div class="center jumbotron">
<br><br>
  <div class="text-center">
    <h1>hokudainote</h1>
  </div>
<br>
<br>
<br>
<br>
<br>
<h3>
hokudainoteとは北大生限定の授業用ノートやレポートを個人が販売・購入できるプラットフォームです。<br>
ユーザーは、自分がとったノートを好きな値段で売ることができます。<br>
ノートの写真をアップロードするので、一度出品すればいろいろな人に購入してもらうことが可能です。<br>
決済手数料は10%です。<br>
購入者は、買ったノートを転売したり、レポートを盗用したりしないでください。<br>
そのような行為が見つかった場合、登録メールアドレスより特定して学校に報告します。<br>
みなさんがよりよい学生生活を送れるよう、このサービスが使われることを願います。
</h3>
</div>



