<div class="center jumbotron">
<h1 class="text-center">hokudainote</h1>
<br>
<h5>
hokudainoteとは北大生限定の授業用ノートやレポートを個人が販売・購入できるプラットフォームです。<br>
決済手数料は10％となります。<br>
レポートの盗用は禁止です<br>
みなさんがよりよい学生生活を送れるよう、このサービスが使われることを願います。
</h5>
</div>



