<h3>運営者情報</h3>
<br>
<div>
杉山堅志郎<br>北海道大学工学部3年<br>体育会サッカー部所属<br>
昨年の夏からプログラミングの勉強を始め、半年ほど前からこのサービスの開発を進めてきました。<br>
言語はRuby、フレームワークはrailsを使っています。<br><br>
現在すべて一人で開発をしているため、一緒に開発を進められる仲間を募集しています。railsを使ったアプリ開発をした経験のある方がいましたら、ぜひ手伝っていただきたいです。<br>
連絡お待ちしています。
</div>
<br>