<div class = "m-3">
    <h3 class = "text-center mt-5 mb-5">
    クレジットカード登録
    </h3>
    <div class = "form-group text-center">
        <div class = "card-form__box">
            <%= form_with(model: @card,url: {controller: 'cards',action: 'create'}, method: :post, id: 'charge-form', name: "inputForm",local: true) do |f|%>
            <div class = "card-form__box__number">
                <label > カード番号</label>
                <span class = "bg-info text-white">必須</span>
                <%= f.text_field :number, class: 'form-control offset-3 col-6', maxlength: "16", placeholder: "半角数字のみ"%> 
            </div>
         <div class="mt-4">   
            <label class = "box-group--label">有効期限</label> 
            <span class = "bg-info text-white">必須</span>
            <div class = "">
                <select id="exp_month" name="exp_month" type="text">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <span {class: "month"}>月</span> 
            
                <select id="exp_year" name="exp_year" type="text">
                    <option value="2020">20</option>
                    <option value="2021">21</option>
                    <option value="2022">22</option>
                    <option value="2023">23</option>
                    <option value="2024">24</option>
                    <option value="2025">25</option>
                    <option value="2026">26</option>
                    <option value="2027">27</option>
                    <option value="2028">28</option>
                    <option value="2029">29</option>
                    <option value="2030">30</option>
                </select>
                <span {class: "year" }> 年</span>
            </div>
        </div>
        
            
                

            <div class = "mt-4">
                <label >セキュリティーコード</label> 
                <span class = "bg-info text-white">
                    必須
                </span>
                <div>
                <%= f.text_field :cvc,size: "60", class: 'form-control offset-3 col-6', maxlength: "4" ,placeholder: "カード背面４桁もしくは３桁の番号"%>
                </div>
                   
            </div>
                        
            <div class="mt-5 mb-5">
            <%= f.submit "登録", class: "btn btn-info"%>
            </div>
            <% end %>
        </div>
    </div>
        
</div>
  