// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// header.mb-4.sticky-top {
//   margin: 0 ;
//   padding-bottom: 0 ;
//   border-bottom: 0 ;
// }



body {
    margin: 0 ;
    background-image: url('note.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    z-index: 0;
    &:before {
      content: '';
      position: absolute;
      top: -5px;
      bottom: -5px;
      left: -5px;
      right: -5px;
      background: inherit;
      filter: blur(1px);
      z-index: -1;
    }
    div a.btn.btn-info.a {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 46px;
        padding-left: 46px;
      }
    div a.btn.btn-info {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 54px;
      padding-left: 54px;
    }
    div a.btn.btn-danger {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 54px;
        padding-left: 54px;
    }
  }
  
 