<div class="text-center pt-5">
  <h2>ノート管理</h2>
</div>
<div class="row ">
  <div class="col-sm-6">
    <h4 class="text-center pt-4">購入したノート</h4>
    <% @buy.each do |buy| %>
    <% note= Note.find(buy.note_id)%>
    <% lecture = Lecture.find(note.lecture_id) %>
      <div class="card card-body ml-5 mr-5 mt-2">
          <%= link_to lecture.name,note_path(note), class: "text-center"%>
      </div>
    <% end %>
  </div>
  <div class="col-sm-6 pb-5">
  <h4 class="text-center pt-4">公開したノート</h4>
    <% @sell.each do |sell| %>
    <% lecture = Lecture.find(sell.lecture_id) %>
      <div class="card card-body ml-5 mr-5 mt-2 ">
          <%= link_to lecture.name,note_path(sell), class: "text-center"%>
      </div>
    <% end %>
  </div>
</div>