<div class="row">
<div class="col-sm-4">
    <%= form_with(model: @lecture,remote: true) do |f| %>
        <div class = 'faculty'> 
        <%= f.collection_select :faculty, Faculty.all, :id, :name,{prompt: "選択して下さい"} %>
        </div>

        <div class = 'get_departments'>
        <%= render partial: 'get_departments', locals: {faculty_id: Faculty.first.id } %>
        </div>

        <%= f.submit '登録', class: 'btn btn-primary btn-block' %>    
    <% end %>
</div>
</div>

    